# ============================================================

# Python

# ============================================================

**pycache**/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
ENV/

# ============================================================

# Logs

# ============================================================

*.log

# ============================================================

# Local Hadoop / Windows Hadoop files

# ============================================================

hadoop/

# ============================================================

# Generated / processed data

# ============================================================

data/clean/
data/landing/

# ============================================================

# Spark generated output

# ============================================================

sp3_output/
sp4_output/
sp5_output/
sp6_output/
sp7_output/

# ============================================================

# Spark / Hadoop temporary files

# ============================================================

.sparkStaging/
metastore_db/
derby.log/

# ============================================================

# IDE / Editor

# ============================================================

.vscode/
.idea/

# ============================================================

# OS files

# ============================================================

.DS_Store
Thumbs.db

# ============================================================

# Python / Jupyter

# ============================================================

.ipynb_checkpoints/

# ============================================================

# Temporary files

# ============================================================

*.tmp
*.temp
*.bak
*.swp
*~
